# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
ENV/

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.swp

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ==========================
# Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Trained Models
# ==========================

# ==========================
# Generated Data
# ==========================


# ==========================
# Large Exports
# ==========================
*.zip
*.tar
*.gz

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/